html, body {
    height: 100%;
    width: 100%;
    background-color: #f5f7fa;
}
.content {
    margin: 20px;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(16, 50, 85, .1);
}
form {
    width: 605px;
    margin: 190px auto 0;
}
.layui-input {
    display: inline-block;
    width: 240px;
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
}
.layui-form-label {
    padding: 5px 15px;
}
.tip-text {
    padding-left: 5px;
    font-size: 12px;
    font-family: 'MicrosoftYaHei';
	color: #999;
}
.btn-box {
    padding-right: 100px;
}
.layui-btn {
    display: block;
    margin: 24px auto 0;
    width: 90px;
    height: 34px;
    line-height: 34px;
    text-align: center;
	background-color: #1773d0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-family: 'MicrosoftYaHei';
}