.tblReport{
	font: 12px/1.5;
	border: 1px solid #E6E2E1;
	color: #555555;
}


.rTitle {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}


.tblReport_msg {
	background: #23AD74;
	/* min-width: 250px; */
	_min-widht: 250px;
	min-height: 50px;
	_min_height: 5px;
    border: 1px solid rgba(0,0,0,0.05) !important;
}

.tblReport_msg_div li {
	float: left;
}

.tblReport_msg_con {
	color: #fff;
	line-height: 20px;
	/* padding:20px 0; */
}


.tblReport_title {
	width:80px;
	min-width: 80px;
	_min-width: 80px;
}

.tblReport tr td {
	height: 28px;
	line-height: 28px;
	padding: 0 10px 0 10px;
	font-size: 11px;
	border: 1px solid rgba(0,0,0,0.12);
	width:80px;
}

.tblReport:nth-child(2) td , .tblReport:nth-child(3) td{
    background: #23AD74;
    color: #fff;
    border: 1px solid #1d9061 !important;
}

.tblReport:last-child .tr_yaxis td{
    background: #f7fbfb;
}

